
.categorias__productos .categorias__items a{
    color: #000;
}

.categorias{
    margin-top: 60px;
    height: 50%;
    margin-right: 15px;
    background-color: #ffffff;
    padding: 20px;
}
.categorias__title{
    margin-bottom: 20px;
    color: #f02929;
    text-transform: uppercase;
}

.categorias__productos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categorias__items:hover{
    border-bottom: 2px solid #c9a3a3;

}

.marcas_check{
    display: flex;
    flex-direction: column;

    input{
    margin-right: 5px;
    }

}
