
.categorias__productos .categorias__items a{
    color: #000;
}

.categorias{
    margin-top: 60px;
    height: 50%;
    margin-right: 15px;
    background-color: #ffffff;
    padding: 20px;
}
.categorias__title{
    margin-bottom: 20px;
    color: #f02929;
    text-transform: uppercase;
}

.categorias__productos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.categorias__items {
    transition: all 400ms ease;
    position: relative;
    &::after{
        content: "";
        width: 0;
        left: 50%;
        bottom: 0;
        right: 0;
        height: 2px;
        position: absolute;
        background-color: #f02929;
        transition: all 400ms ease;
    }
    &:hover::after{
        width: 100%;
        left: 0;
    }
}


.marcas_check{
    display: flex;
    flex-direction: column;

    input{
    margin-right: 5px;
    }

}
