.accordion-button:not(.collapsed){
    background-color: #fff !important;
    color: #000;
}


.accordion-button:focus{
    border-color: #fff !important;
    box-shadow: none !important;
}

.accordion-container{
    max-width: 900px;
}
.ayudas-user{
    max-width: 900px;
}