.carrito__conteiner{
    width: 800px;
    height: 600px;
    margin: 30px auto;
    border: 1px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    background-color: #ffffff;
    border-radius: 2% 2% 2% 2%;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.15);

}

.carrito__title{
    display: flex;
    justify-content: space-between;
}

.carrito__text{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrito__btn{
    position: relative;
    top:50px;
        background-color:#cc2929;
        border-radius:28px;
        border:1px solid #ab1919;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:16px 31px;
        text-decoration:none;
        text-shadow:0px 1px 0px #662929;
    }

.carrito__btn:hover {
    background-color:#bd2c2c;
}