.pf-conteiner {
    padding: 20px;
    width: 70%;
    height: 70%;
    border: 2px solid #000;
    margin: 60px auto;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    background-color: #f1f1f1;
  }
  
  .pf-conteiner h1 {
    margin: 0 0 15px 0;
  }
  
  .pf__items {
    margin: 10px 0 10px 0;
  }
  
  .conteiner-textoContactos {
    margin-top: 50px;
    width: 100%;
    height: 360px;
    background-color: #800000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
  }
  
  .contactos-text {
    margin-left: 20px;
  }
  
  .contactos-title {
    text-transform: uppercase;
    font-size: 36px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .contacto-texto {
    color: #ffffff;
    font-size: 25px;
    margin-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .ultra-content {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 60px;
    justify-content: center;
    align-items: center;
  }
  
  .section__parrafoconsultas {
    overflow: auto;
    width: 600px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 7% 7% 7% 7%;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.151);
    margin-top: 30px;
    padding: 23px;
    border: 1px solid #747474;
  }
  
  .section__parrafoconsultas p {
    font-size: 23px;
    color: #800000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .textarea1 {
    position: absolute;
    top: 20%;
    left: 20.9%;
    background-color: #ededed;
    border-radius: 5%;
    border: none;
  }
  
  .content-impconsulta {
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 30px;
  }
  
  .form {
    background-color: #fff;
    border: 1px solid #747474;
    width: 500px;
    height: 500px;
    border-radius: 7% 7% 7% 7%;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.151);
  }
  
  .form__nombre-email {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
  }
  
  .form__asuntos-mensajes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 170px;
  }
  
  .form__nombre input {
    margin-top: 20px;
    height: 60px;
    border: none;
    background-color: #ededed;
    border-radius: 6%;
  }
  
  .form__email input {
    margin-top: 20px;
    height: 60px;
    border: none;
    background-color: #ededed;
    border-radius: 6%;
  }
  
  .form__asunto input {
    background-color: #ededed;
    border-radius: 6%;
    border: none;
    height: 60px;
  }
  
  .btn_contact {
    position: relative;
    bottom: 80px;
    border: none;
    background-color: #f02929;
    border-radius: 5%;
    height: 40px;
    width: 60px;
    cursor: pointer;
    color: #fff;
  }