.footer-conteiner{
    
    margin-top: 100px;
    display: flex;
    align-items: flex-end;
    
}

.footer{
    color: #f1f1f1;
    width: 100%;
    background-color: #f02929;
    display: flex;
    justify-content: space-around;
    gap: 17px;
    padding: 20px 15px;
}

.footer__telefono{
    margin: 0 0 0 5px;
}
.footer__icons{
    color: rgb(255, 255, 255);
}
.footer__redes ul{
    padding-left: 0px   ;
}
.footer__icons i {
    font-size: 25px;
}
.footer__btn{
    width: 27px;
    border-radius: 0 5px 5px 0;
    border: none;

} 
.contenedor{
    margin: 50px;
    
}
iframe{
    width: 200px;
    height: 200px;
}

.medios-pagos i{
    font-size: 30px;
}