.backgroudimg-1{
    background-color: #ab1919;
    
}
.backgroudimg-2{
    height: 600px;
}
.ckard__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}
.ckard{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    text-align: center;
    background-color: #ffffff00;
}
.iconscards i{
    font-size: 30px;
}
