.login__conteiner{
    text-align: center;
    border-radius: 6px;
    padding-top: 20px;
    width: 500px;
    height: 500px;
    margin: 70px auto;
    box-shadow: 3px 3px 13px 2px rgba(0,0,0,0.49);
    background-color: #ffffff;
}

.form_login{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; 
}
.login__title h1{
    font-size: 25px;
    font-family: Source Sans Pro,sans-serif;
    
}
.login__name input{
    padding: 1rem;
}

.login__password input{
    padding: 1rem;
}

.login__btn button{
    margin: 0;
    font-family: Source Sans Pro,sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    background-color: #f00;
    color: #ededed;
}


.w-max{
    max-width: 500px;
}