




@media screen and (max-width:1700px) {
    .header{
        height: 130px;
        .nav{
            flex-direction: column;
            
        }
    }
    
}



@media screen and (max-width:1534px){
    .nav__items{
        font-size: 13px;
    }
    .compra__containertext{
        margin: 0;
    }
}
@media screen and (max-width:1534px){
    .lista-productos{
        gap: 10px;
        li{
            width: 32.333%;
        }
    }
}

@media screen and (max-width:1469px){
    .nav__items{
        font-size: 11px;
    }
}

@media screen and (max-width:1400px) {
    nav{
        display: flex;
        flex-direction: column ;
        height: 80px;
    }
    .header{
        height: 90px;
        background-color: $principal-color;
        height: 130px;
    }

    .nav__img{
        position: absolute;
        left: 0;
        top: -30px;
    }

    .card__conteiner{
        flex-wrap: wrap;
    }
    .card img {
        object-fit:initial ;
        width: 300px;
    }

}


@media screen and (max-width:1170px) {

    .nav{
        background-color: rgba(0, 0, 0, 0);
        
    }
    .nav__bar{
        width: 400px !important;
    }
    .nav__img{
        width: 160px;
    }
}


@media screen and (max-width:1024px) {
    .list__items{
        width: 48% !important;
    }
}


@media screen and (max-width:890px) {
    .nav__bar{
        width: 300px !important;
    }
}

@media screen and (max-width:805px){
    .carrito{
        width: 100%;
    }

    .carrito__conteiner{
        width: 70%;
        height: 70%;
    }
    .nav__img{
        display: none;
    }
} 



@media screen and (max-width:710px){
    
    .seguimineto-pedidos{
        width: 90%;
        padding: 20px;
    }
    .footer__container{
        padding: 10px;
    }
} 


@media screen and (max-width:640px){
    .selection-price{
        align-items: unset;

    }
    .fa-angle-down{
        padding-left: 10px;
    }
}
@media screen and (max-width:615px){
    .nav__bar-btn{
        width: 300px;
    }

}


@media screen and (max-width:576px){
    .conteiner-products{
        padding: 10px;
    }

    .login__conteiner{
        width: 80%;
    }

    .compra__img{
        width: 70%;
    }
    .compra__links-span{
        position: unset;
    }

}

@media screen and (max-width:700px){
    .conteiner-products{
        flex-direction: column-reverse;
    }

    .content-impconsulta{
        width: 80%;
    }

    .section__parrafoconsultas{
        width: 80%;
    }







}
@media screen and (max-width:720px){
    #lateral{
        display: block;
        position: fixed;
        left: -100%;
        top: 0;
        padding: 10px;
        width: 70%;
        z-index: 100;
        height: 100vh;
        background-color: rgba(68, 0, 0, 0.692);
        transition: all 2s;
    }

    #lateral:target {
        left: 0;
    }
    

    .fi-rr-align-justify{
        position: absolute;
        top: 12px;
        right: 10px;
        display: block;
        font-size: 25px;
        color: #f9f9f9;
    }

    .nav__ul{
        flex-direction: column !important;
    }
    .nav__items{
        font-size: 14px;
    }
    .fi-rr-cross{
        color: #f9f9f9;
        display: block;
        font-size: 19px;
    }


}

@media screen and (max-width:480px){

    .conteiner-textoContactos{
        padding: 10px;
    }

    .form__nombre input{
        width: 90%;
    }

    .form__email input{
        width: 90%;
    }

    textarea{
        width: 90%;
    }

    .form__asunto input{
        width: 90%;
    }
}




@media screen and (max-width:440px){
    .selection-price{
        height: auto;
    }
    .fa-angle-down{
        padding-left: 10px;
    }

}
@media screen and (max-width:410px){
    .nav{
        height: 130px;
        justify-content: space-evenly;
    }
    iframe{
        width: 100px;
        height: 100px;
    }
    .login__name input{
        width: 100%;
    }
    .login__password input{
        width: 100%;
    }
    .accordion-button{
        font-size: 13px;
    }
    .accordion-body h6,p{
        font-size: 13px;
    }
}


@media screen and (max-width:365px){
    .list__items{
        width: 100% !important;
    }
    .list__items img{
        width: 100%;
    }
    .fi-rr-align-justify{
        margin: 0;
    }
    .lista-productos{
        padding: 20px;
    }
}
