.nav{
    background-color: #f02929;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: relative;
    flex-wrap: nowrap !important;

    .nav__img{
        margin: 30px;
        height: 70px; 
    }
    
    .nav__bar-btn{
        display: flex;

        .nav__bar{
            width: 600px;
            height:  42px;
            left: 35%;
            border: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px ;
            outline:none;
            background-color: #ffffff;
        } 
        .nav__btn{
            width: 100px;
            height: 42px;
            border-radius: 0 5px 5px 0;
            font-weight: 700;
            background-color: #efefef;
            border: none;
            cursor: pointer;
            
        }

    }

    .nav__ul {
    display: flex;
    flex-direction: row;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
    
}

.ulnav__conteiner{
    
    display: flex;
    justify-content: center ;
    align-items: center;
    
}



.nav__ul li{
    margin: 0 10px;
    
}
.nav__items{
    color: #ffffff;
    font-weight: 500;
    transition: border-bottom 2s;
}
.nav__items:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
    color: #fff !important;
}


.navbar__conteiner{
    display: flex;
}




.btn:hover{
    opacity: 0.7px;
}
.breadcrumb-item+.breadcrumb-item::before{
    color: #d90429;
}
.fi-rr-cross{
    display: none;
}

.fi-rr-align-justify {
    display: none;
}




.fa-bars{
    display: none;
}