.conteiner-products{
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    
}

.lista-productos{
    margin-top: 60px;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #ffffff;

}

.list__items{
    width: 370px;
    transition: border 10s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    img{
        max-width: 100%;
    }
}
.list__items:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.cont-precio {
    background-color: #ededee;
    display: flex ;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 8px;
    color: #f02929;
}

.precio{
    color: #000;
    font-size: 17px;
    font-weight: 700;
}

.list__text{
    color:#000;
    text-align: center;
    font-size: 16px;
    
    
}

.nav-pages{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


$mapaNavPage:(
    numeros-page: #f02929,
    bg-navpage: #fff,
);

@each $clave, $valor in $mapaNavPage {
    .color#{$clave} {
        color: $valor;
    } 
}
