
@import "./modules/_variables.scss" ;
@import "paraciales/_resets.scss";
@import "paraciales/_header.scss";
@import "paraciales/_nav.scss";
@import "paraciales/_whatsapp.scss";
@import "paraciales/_cards-ind.scss";
@import "paraciales/_banner.scss";
@import "paraciales/_kcards-ind.scss";
/* CARRUSEL-INDEX*/
@import "paraciales/_carrusel-index.scss"; 
/*PRODUCTOS*/
@import "paraciales/_productos.scss";
@import "paraciales/_navbar.scss";
@import "paraciales/_asidebar.scss";
/**/
/*CARRITO*/
@import "paraciales/_carrito.scss";
/**/
/*SEGUIR PEDIDO*/
@import "paraciales/_seguirpedido.scss";
/**/
/*AYUDA*/
@import "paraciales/_ayuda.scss";
/**/
/*CUENTA*/
@import "paraciales/_login.scss";
/**/
/*CONTACTOS*/
@import "./paraciales/_contactos.scss";
/**/
/*COMPRA*/
@import "paraciales/_compra.scss"; 
@import "paraciales/_descripcion.scss";
/**/
@import "paraciales/_footer.scss";
@import "paraciales/_medias-q.scss";


@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');






